{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %} - Login{% endblock %}

{% block style %}
	<link type="text/css" rel="stylesheet" href="{% static "dashboard/lyt/css/login.css" %}">
{% endblock %}

{% block content %}
    <div class="container">
		<form action="{% url 'login' %}" method="post" class="form-signin" role="form">
			<h2 class="form-signin-heading">Autenticação</h2>
			{% csrf_token %}
			{% if form.errors %}
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<i class="fa fa-ban-circle"></i>Nome de usuário ou senha incorretos
			</div>
			{% endif %}
			<div class="form-group">
				<label for="{{ form.username.id_for_label }}" class="sr-only control-label">Nome de usuário ou email</label>
				{{ form.username|attr:"placeholder:seu@email.com"|add_class:"form-control input-lg"}}
			</div>
			<div class="form-group">
				<label for="{{ form.password.id_for_label }}" class="sr-only control-label">Senha</label>
				{{ form.password|attr:"placeholder:password"|add_class:"form-control input-lg"}}
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
		</form>
    </div>
{% endblock %}
