{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	
	<title>Admin{% block title %}{% endblock %}</title>
    
	<link type="text/css" rel="stylesheet" href="{% static "dashboard/lyt/css/bootstrap.min.css" %}"><!-- Bootstrap Core CSS -->
	<link type="text/css" rel="stylesheet" href="{% static "dashboard/lyt/css/sb-admin.css" %}"><!-- Custom CSS -->
	<link type="text/css" rel="stylesheet" href="{% static "dashboard/lyt/font-awesome/css/font-awesome.min.css" %}"><!-- Custom Fonts -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	{% block style %}{% endblock %}
</head>
<body>
	{% block content %}{% endblock %}
    
    <script type="text/javascript" src="{% static "dashboard/lyt/js/jquery.js" %}"></script><!-- jQuery -->
    <script type="text/javascript" src="{% static "dashboard/lyt/js/bootstrap.min.js" %}"></script><!-- Bootstrap Core JavaScript -->
	{% block script %}{% endblock %}
</body>
</html>
