{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	
	<title>Home</title>
</head>
<body>
	<h1>Home Page</h1>
	{% if request.user.is_authenticated %}
	<h2>Bem vindo {{ request.user.username }}</h2>
	<p><a href="{% url 'logout' %}">Sair</a></p>
	{% else %}
	<h2>Bem vindo</h2>
	<p><a href="{% url 'login' %}">Entrar</a></p>
	{% endif %}
</body>
</html>
